<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="public">
    <meta name="theme-color" content="#fff">
    <link type='text/css' href='{{ styles }}' rel='stylesheet' media='screen' />
    {{ redcap_js|raw }}
    <script>
        $(document).ready(function () {
            // Show the modal and reset collapsibles when the button is clicked
            $('#sanitize-data').on('show.bs.modal', function () {
                // Collapse all collapsible items
                $('.collapse').collapse('hide');
                $('#message').hide();
            });

            $('#download-data-dictionary').on('click', function () {
                // Prepare POST data
                const sqlData = {{ sql_fields_sanitize|json_encode|raw }};

                // Replace SQL pids with constants from input fields
                for (const key in sqlData) {
                    if (key !== 'total' && sqlData.hasOwnProperty(key)) {
                        const sql_data = sqlData[key];
                        const inputId = `pid-${sql_data.pid}`;
                        const constantValue = document.getElementById(inputId).value;

                        // Replace the constant value in the SQL data object
                        sql_data.constant = constantValue;
                    }
                }

                const postData = {
                    redcap_csrf_token: '{{ redcap_csrf_token | raw }}',
                    pid: '{{ pid | raw }}',
                    sqlData: JSON.stringify(sqlData)
                };

                // Create a hidden form
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '{{ download_data_dictionary_url | raw }}'; // URL pointing to your PHP file

                // Add POST data as hidden fields
                for (const key in postData) {
                    if (postData.hasOwnProperty(key)) {
                        const input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = key;
                        input.value = postData[key];
                        form.appendChild(input);
                    }
                }

                // Append the form to the body, submit it, and remove it
                document.body.appendChild(form);
                form.submit(); // This triggers the download
                document.body.removeChild(form); // Clean up the form

                // Optionally close the modal after triggering the download
                $('#sanitize-data').modal('hide');
                $('#message').show();
            });
        });
    </script>
</head>
<body>

   <div class="alert alert-success" style="display:none;margin-top: 20px;max-width: 690px;" id="message">{{flashbag_messages[0].message}}</div>

   <div class="row">
        <div class="col-sm-6">
            <div class="round chklist">
                <div class="chklisthdr">Instructions</div>
                <div class="chklisttext">
                    <p class="text-muted">Follow the instructions below to use the module:</p>
                    <ol>
                        <li class="mb-3">
                            <p>
                                This module allows users to download the current Data Dictionary while replacing PIDs in all SQL fields with a constant defined on the module's configuration page.
                            </p>
                        </li>
                        <li class="mb-3">
                            <p>
                                Specify the name of the constant to replace the PID in the <a href="{{ APP_PATH_WEBROOT_ALL ~ "ExternalModules/manager/project.php?pid=" ~ pid }}" target="_blank">module's configuration</a>, or manually input the values afterward.
                            </p>
                        </li>
                        <li class="mb-3">
                            <p>
                                This project currently contains <strong>{{ sql_fields_sanitize.total }} SQL fields</strong>.
                            </p>
                        </li>
                        <li class="mb-3">
                            <p>
                                Click the button below to initiate the sanitation process.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <button class="btn btn-primary" onclick="$('#sanitize-data').modal('show');$('#message').hide();"><span class="fa fa-solid fa-file-circle-check"></span> Sanitize Data Dictionary SQLs</button>
        </div>
    </div>

    <div class="modal fade" id="sanitize-data" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editConceptLabel">Sanitize SQLs</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div>Please review these SQL PIDs before proceeding with data sanitization.<br/>
                            Alternatively, you may manually input and edit the values as needed.</div>
                        {% for key, sql_data in sql_fields_sanitize %}
                            {% if key != "total" %}
                                <h6 class="pt-4">PID {{"#" ~ sql_data.pid ~ " - " }}<a href="{{ APP_PATH_WEBROOT_ALL ~ "index.php?pid=" ~ sql_data.pid }}" target="_blank">{{ sql_data.title }}</a></h6>
                                <div class="ps-3 ">
                                    <div class="pt-2">
                                        Replace PID {{"#" ~ sql_data.pid ~ " - " }} with: <input type="text" id="{{ "pid-" ~ sql_data.pid }}" name="{{ "pid-" ~ sql_data.pid }}" value="{{ sql_data.constant }}">
                                    </div>
                                    <div class="pt-2">
                                        <button class="btn btn-outline-secondary btn-sm d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ sql_data.pid }}" aria-expanded="false" aria-controls="collapse-{{ sql_data.pid }}">
                                            <i class="fa fa-eye me-2"></i> See SQLs
                                        </button>
                                        <div class="collapse" id="collapse-{{ sql_data.pid }}">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Variable name</th>
                                                    <th>SQL Query</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key_sql, sql in sql_data.sqls %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>[{{ key_sql | raw }}]</td>
                                                        <td>{{ sql | raw }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="download-data-dictionary"><span class="fa fa-arrow-down"></span> Download</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
